.main-dashboard .amount-btn-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 2rem 4rem;
}

/***** Button Container Starts *****/

.main-dashboard .amount-btn-wrapper .btn-container {
  display: flex;
  gap: 2rem;
  text-align: center;
  width: 50%;
}

.main-dashboard .amount-btn-wrapper .btn-container div {
  width: 30%;
}

.main-dashboard .amount-btn-wrapper .btn-container p {
  font-size: 1.1rem;
  font-weight: 500;
  margin: 8px 0;
}

.main-dashboard .amount-btn-wrapper .btn-container button {
  font-size: 1.3rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: left;
  width: 100%;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  transition: all 0.3s ease-in-out;
}

.main-dashboard .amount-btn-wrapper .btn-container .current-balance button {
  background: rgba(15, 155, 15, 0.75);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  color: #fff;
}

.main-dashboard .amount-btn-wrapper .btn-container .current-balance p {
  color: rgba(15, 155, 15, 0.75);
}

.main-dashboard
  .amount-btn-wrapper
  .btn-container
  .current-balance
  button:hover {
  box-shadow: 0px 4px 8px 1px rgba(15, 155, 15, 0.5);
}

.main-dashboard .amount-btn-wrapper .btn-container .amount-expended button {
  background: #f4fbf4;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  color: #f60000;
}

.main-dashboard .amount-btn-wrapper .btn-container .amount-expended p {
  color: #f60000;
}

.main-dashboard
  .amount-btn-wrapper
  .btn-container
  .amount-expended
  button:hover {
  box-shadow: 0px 4px 8px 1px rgba(246, 0, 0, 0.3);
}

.main-dashboard
  .amount-btn-wrapper
  .btn-container
  .current-balance
  button
  .icon {
  font-size: 1.2rem;
  color: rgba(0, 0, 0, 0.58);
}

p.label-heading {
  display: block;
  font-weight: 400;
  color: #0072f5;
  padding: 0 0 0 0.25rem;
  margin-bottom: 0.375rem;
  font-size: 0.875rem;
  line-height: 1.5rem;
  user-select: none;
}

/***** Button Container Ends *****/
/***** Add New Record Starts *****/

.main-dashboard .amount-btn-wrapper .add-new-record {
  font-size: 1.3rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.7rem;
  padding: 0.7rem 1rem;
  border: none;
  outline: none;
  width: 30%;
  color: #ffffff;
  background: rgba(63, 126, 232, 1);
  border: 1px solid rgba(63, 126, 232, 0.73);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
}

.main-dashboard .amount-btn-wrapper .add-new-record:hover {
  background: rgba(63, 126, 232, 0.73);
  box-shadow: 0px 4px 8px 1px rgba(63, 126, 232, 0.5);
}

.main-dashboard .amount-btn-wrapper .add-new-record .icon {
  font-size: 2rem;
}

/***** Add New Record Ends *****/

/***** Media Query Starts *****/
/* indicates screen after 1380px i.e. for small screen desktop */
@media screen and (max-width: 1380px) {
  .main-dashboard .amount-btn-wrapper .btn-container div {
    width: 41%;
  }
  .main-dashboard .amount-btn-wrapper .add-new-record {
    width: 40%;
  }
}

/* indicates screen after 900px i.e. for tabs */
@media screen and (max-width: 900px) {
  .main-dashboard .amount-btn-wrapper {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .main-dashboard .amount-btn-wrapper .btn-container {
    width: 100%;
  }

  .main-dashboard .amount-btn-wrapper .btn-container div {
    width: 50%;
  }

  .main-dashboard .amount-btn-wrapper .add-new-record {
    margin: 1rem 0;
    width: 100%;
  }
}

/* indicates screen after 600px i.e. for mobile phone */
@media screen and (max-width: 600px) {
  .main-dashboard .amount-btn-wrapper {
    padding: 2rem 2rem;
  }

  .main-dashboard .amount-btn-wrapper .btn-container {
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    justify-content: center;
  }

  .main-dashboard .amount-btn-wrapper .btn-container div {
    width: 100%;
  }
}

/* indicates screen after 400px i.e. for small phone
@media screen and (max-width: 400px) {
} */

/****** Media Query ends ******/
