nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 3rem 2rem 4rem;
  position: relative;
  z-index: 99;
}

nav h3.about {
  font-size: 1.6rem;
  line-height: 1.9rem;
  color: #000;
}

nav h2.logo {
  font-size: 2.6rem;
  line-height: 2.9rem;
  color: rgba(0, 0, 0, 0.58);
  cursor: pointer;
}

nav button.login-btn {
  padding: 0.5rem 2rem;
  background: rgba(15, 155, 15, 0.75);
  box-shadow: 0px 3px 8px rgb(0 0 0 / 25%);
  border-radius: 8px;
  color: #f4fbf4;
  font-size: 1rem;
  font-weight: 500;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

nav button.login-btn:hover {
  /* font-weight: 600; <-- find fontweight smoothness */
  box-shadow: 0px 3px 8px rgb(0 0 0 / 50%);
}
