.all-expenses .filter-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 4rem 1.2rem;
}

.all-expenses .filter-menu h2 {
  font-size: 1.6rem;
  font-weight: 400;
  /* color: rgba(0, 0, 0, 0.6); */
}

.all-expenses .filter-buttons {
  display: flex;
  gap: 1.5rem;
}

.all-expenses .filter-buttons button {
  background: transparent;
  border: none;
  border-radius: 7px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 0.7rem 1.4rem;
  font-size: 1rem;
  display: flex;
  align-items: center;
  transition: all 0.3s ease-in-out;
}

.all-expenses .filter-buttons button:hover {
  box-shadow: rgba(99, 99, 99, 0.6) 0px 2px 8px 0px;
}

.all-expenses .filter-buttons button .icon {
  margin-left: 7px;
  font-size: 1.2rem;
}

.all-expenses .filter-buttons-mobile {
  display: none;
}

/* Filter Modal */
.filter-modal-body {
  scrollbar-width: auto;
  scrollbar-color: #c9c9c9 #ffffff;
  outline: none !important;
}

.filter-modal-body::-webkit-scrollbar {
  width: 15px;
}

.filter-modal-body::-webkit-scrollbar-thumb {
  background-color: #c9c9c9;
  border: 2px solid #1f2937bd;
  border-radius: 10px;
}

.filter-modal-body div {
  text-align: center;
  padding: 8px;
  border-radius: 8px;
  background-color: rgb(253, 216, 229);
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 950px) {
  .all-expenses .filter-menu {
    margin: 0 4rem 0.5rem;
  }

  .all-expenses .filter-buttons {
    display: none;
  }

  .all-expenses .filter-buttons-mobile {
    display: block;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #000;
    z-index: 9999;
  }

  .all-expenses .filter-buttons-mobile button {
    border: none;
    flex: 0.5;
    font-size: 0.95rem;
    padding: 7px 10px;
    background-color: #f4fbf4;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .all-expenses .filter-buttons-mobile button .icon {
    font-size: 1.2rem;
    margin-right: 4px;
  }

  .all-expenses .filter-buttons-mobile button:nth-child(1) {
    border-right: 1px solid #000;
  }

  .all-expenses .filter-buttons-mobile button:nth-child(1) .icon {
    margin-right: 6px;
  }

  .filter-modal-body-mobile .nextui-c-hPzDAx .nextui-collapse-title {
    font-size: 1.2rem;
  }

  .filter-modal-body-mobile .nextui-c-hPzDAx .nextui-collapse-content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .filter-modal-body-mobile .nextui-c-hPzDAx .nextui-collapse-content div {
    text-align: center;
    padding: 8px;
    border-radius: 8px;
    background-color: rgb(253, 216, 229);
    transition: all 0.3s ease-in-out;
    padding: 0.3rem 0.8rem;
  }
}

@media screen and (max-width: 600px) {
  .all-expenses .filter-menu {
    margin: 0 1rem 0.5rem;
  }

  .nextui-modal {
    width: 90%;
    margin: 0 auto;
  }
}
