@media screen and (max-width: 950px) {
  .filter-table-container .nextui-c-eKxzBn:nth-child(2),
  .filter-table-container .nextui-c-kNgzEX:nth-child(2) {
    display: none !important;
  }

  .filter-table-container .nextui-c-eKxzBn {
    width: 33%;
  }

  .nextui-table-container .icon-btn {
    margin: 0;
    padding: 8px;
  }

  .nextui-c-eKxzBn:last-child {
    padding-right: 0;
  }
}
