nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 4rem;
  position: relative;
  z-index: 99;
  transition: all 0.3s ease-in-out;
}

nav h3.about {
  font-size: 1.6rem;
  line-height: 1.9rem;
  color: #000;
  cursor: pointer;
}

nav h2.logo {
  font-size: 2.6rem;
  line-height: 2.9rem;
  color: rgba(0, 0, 0, 0.58);
  cursor: pointer;
}

nav button {
  padding: 0.5rem 2rem;
  margin-right: 0.2rem;
  background: rgba(15, 155, 15, 0.75);
  box-shadow: 0px 3px 8px rgb(0 0 0 / 25%);
  border-radius: 8px;
  color: #f4fbf4;
  font-size: 1rem;
  font-weight: 500;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

nav button {
  /* font-weight: 600; <-- find fontweight smoothness */
  box-shadow: 0px 3px 8px rgb(0 0 0 / 50%);
}

/***** Media Query Starts *****/

/* indicates screen before 600px */
@media screen and (min-width: 600px) {
  nav .popup {
    display: none;
  }
}
/* indicates screen after 600px i.e. for mobile phone */
@media screen and (max-width: 600px) {
  nav {
    padding: 2rem;
    align-items: flex-start;
  }

  nav button {
    padding: 0.3rem 1rem;
    font-size: 1.3rem;
  }

  nav .popup {
    display: block;
  }

  .nextui-popover-content .mobile-nav-item {
    font-size: 1rem;
    font-weight: 400;
    cursor: pointer;
  }

  .nextui-popover-content .mobile-nav-item:last-of-type {
    margin: 0;
  }

  nav .login-btn {
    display: none;
  }

  nav .about {
    display: none;
  }
}

/* indicates screen after 400px i.e. for small phone */

@media screen and (max-width: 400px) {
  nav h2.logo {
    font-size: 2.3rem;
  }
}
/***** Media Query Ends*****/
